# server configuration
HOST=localhost
PORT=3000
 
# node-postgres configuration
PGUSER=
PGHOST=localhost
PGPASSWORD=
PGDATABASE=
PGPORT=5432

# authentication
ACCESS_TOKEN_KEY=''
REFRESH_TOKEN_KEY=''
ACCESS_TOKEN_AGE=1800

# Message broker
RABBITMQ_SERVER=

# Redis
REDIS_SERVER=